<!DOCTYPE html>
<html>

<head>
	<title>솦모챠</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="./src/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app" @mousedown="appMouseDown()" @mouseup="appMouseUp()">
        <h2>{{ title }}</h2>
        <hr>
        <div>
            <h3>여기에 그리세요</h3>
            <table
                id="board"
                @drag.prevent
                @dragstart.prevent
                @touchend.prevent>
                <tr v-for="(row, rowIndex) in board" key="rowIndex">
                    <td v-for="(cell, columnIndex) in row" key="columnIndex" class="cell">
                        <div v-for="(value, subCellIndex) in cell" key="subCellIndex"
                            class="sub-cell"
                            :class="('sub-cell-' + subCellIndex) + ' '
                                  + (value ? 'sub-cell-on' : '')"
                            @mousedown="subCellMouseDown(cell, subCellIndex, value)"
                            @mouseover="subCellMouseOver(cell, subCellIndex)"
                            @touchstart="subCellMouseDown(cell, subCellIndex, value)"
                        ></div>
                    </td>
                </tr>
            </table>
            <br>
            <button @click="invertBoard()">반전</button>
            <button @click="resetBoard()">초기화</button>
        </div>
        <hr>
        <div>
            <h3>미리보기</h3>
            <canvas id="preview" width="798" height="216"></canvas>
            <p>위 이미지는 참고용입니다. 실제 적용되었을 때 다르게 보일 수 있습니다.</p>
        </div>
        <hr>
        <div>
            <h3>결과(아래 내용을 복사해 ID카드에 붙여넣으세요)</h3>
            <textarea id="result" 
                rows="5" cols="50" 
                @click="selectAll($event)" 
                v-model="result"></textarea>
            <br>
            <button @click="copyBoardToClipboard()">클립보드에 복사</button>
        </div>
        <hr>
        <div>
            <h3>크기 조절</h3>
            <p>NoxPlayer, Android 5, 1920x1080 기준 3행 14열에서 정상적으로 표시됩니다.</p>
            <p>현재 설정: {{row}}행 {{column}}열, 줄바꿈 {{includeLineBreak ? "있음" : "없음"}}</p>
            <form>
                <label>행: </label><input type="number" v-model="row_input" placeholder="기본값: 3">
                <label>열: </label><input type="number" v-model="column_input" placeholder="기본값: 15">
                <label>줄바꿈 </label><input type="checkbox" v-model="includeLineBreak">
                <button @click.prevent="resizeBoard()">크기 변경</button>
                <p v-if="row_input > 3 || column_input > 14">
                    3행 14열을 초과하면 정상적으로 표시되지 않을 수 있습니다.
                </p>
            </form>
        </div>
        <hr>
        <div>
            <textarea placeholder="메모장1"></textarea>
            <br>
            <textarea placeholder="메모장2"></textarea>
            <br>
            <textarea placeholder="메모장3"></textarea>
        </div>
        <hr>
        <div>
            <h3>참고 링크</h3>
            <a href="https://en.wikipedia.org/wiki/Block_Elements">https://en.wikipedia.org/wiki/Block_Elements</a>
        </div>
        <hr>
        <footer>이 페이지는 구글 크롬(PC)에 최적화되어 있습니다. 최종 수정 2019년 8월 30일. 솦모챠 커여워</footer>
    </div>
	<script src="src/index.js"></script>
</body>

</html>