#board{
    width: 896px;
    outline: 2px solid #eeeeee;
    background-color: grey;
    border-spacing: 0;
}
#board tr{
    height: 68px;
}
.cell{
    width: 64px;
    height: 64px;
    padding:0; 
    border:0; 
    margin:0;
    position: relative;
}
.sub-cell{
    width: 30px;
    height: 30px;
    padding:0; 
    border:1px dotted white; 
    margin:0;
    background-color: grey;
    position: absolute;
}
.sub-cell-0{
    /* top left */
    top: 0;
    left: 0;
}
.sub-cell-1{
    /* top right */
    top: 0;
    left: 32px;
}
.sub-cell-2{
    /* bottom left */
    top: 32px;
    left: 0;
}
.sub-cell-3{
    /* bottom right */
    top: 32px;
    left: 32px;
}
.sub-cell-on{
    background-color: white;
}
#preview{
    background-image: url('./bg.png');
    cursor: not-allowed;
}