#app{
    min-width: 1024px;
}
.board{
    margin: 8px;
    outline: 2px solid #eeeeee;
    background-color: grey;
    border-spacing: 0;
}
.board tr{
    height: 68px;
}
.cell{
    width: 64px;
    height: 64px;
    padding:0; 
    border:0; 
    margin:0;
}
.sub-cell{
    width: 30px;
    height: 30px;
    padding:0; 
    border:1px dotted white; 
    margin:0;
    background-color: grey;
    float: left;
}
.sub-cell-on{
    background-color: white;
}
.edit-yourself{
    border-spacing: 0;
}
.edit-yourself tr td{
    width: 32px;
    height: 32px;
    padding: 0;
}
.cell-edit{
    resize: none;
    overflow: hidden;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0;
    margin: 2px 0;
    outline: 1px solid rgba(255, 255, 255, 0.3);
    background-color: grey;
    font-size: 32px;
    color: white;
    font-family: sans-serif;
    vertical-align: top;
    line-height: 0.7;
}